/* font */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* font end */

/* navbar */
.navbar-brand.logo {
  color: #f0e68c; /* warna tulisan logo */
}
.navbar-brand.logo:hover {
  color: #f0e68c; /* warna tulisan ketika logo diklik*/
}
.nav-item .nav-link {
  color: #fff; /* warna tulisan */
  font-size: 14px; /* sizetulisan */
  font-weight: 500; /* tebal tulisan */
}
.nav-item .nav-link:hover {
  color: #f0e68c; /* warna tulisan navbar ketika diarahkan */
}
.header .navbar {
  background-color: #800; /* warna background navbar */
}
.btn-navbar {
  display: inline-block; /* mengatur tampilan tombol login */
  background-color: #0a0a5c; /* warna background tombol login */
  color: #fff; /* warna tulisan tombol login */
  font-size: 14px; /* ukuran tulisan tombol login */
}
.btn-navbar:hover {
  color: #0a0a5c; /* warna tulisan tombol login ketika diarahkan */
  background-color: #fff; /* warna background tombol login ketika diarahkan */
}
/* navbar end */

/* jumbotron */
.about-us {
  background-color: #ebebeb; /* warna background homepage */
  margin-top: 90px; /* mengatur jarak bawah background homepage */
  border: 10px solid #ebebeb; /* mengatur border background homepage */
  border-radius: 20px; /* mengatur sudut background homepage */
}
.about-us .about-pertama {
  font-weight: 700; /* tebal tulisan kami meyakini */
  font-size: 24px; /* ukuran tulisan kami meyakini*/
  color: #ff8143; /* warna tulisan tulisan kami meyakini*/
}
.link-about {
  text-transform: uppercase; /* mengubah huruf menjadi huruf kapital join us*/
  border: 1px solid #0a0a5c; /* mengatur border join us*/
  color: #fff; /* warna tulisan join us*/
  background-color: #0a0a5c; /* warna background join us*/
  display: inline-block; /* mengatur tampilan join us*/
  font-size: 11px; /* ukuran tulisan join us*/
  font-weight: 600; /* tebal tulisan join us*/
  border-radius: 10px; /* mengatur sudut join us*/
}
.link-about:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* menambahkan bayangan pada join us*/
}
.diskusi-fluid {
  height: 450px; /* mengatur tinggi background diskusi */
  width: 380px; /* mengatur lebar background diskusi */
  margin-left: 200px; /* mengatur jarak kiri background diskusi */
  position: relative; /* menetapkan posisi relatif untuk background diskusi */
  top: -500px; /* mengatur jarak bawah background diskusi */
  left: 600px; /* mengatur jarak dari sisi kiri background diskusi */
  border-radius: 10px; /* mengatur sudut background diskusi */
}
.growth {
  font-size: 15px; /* ukuran tulisan growth */
  background-image: url("../img/growth.jpg"); /* gambar background growth */
  background-size: cover; /* mengatur ukuran background growth agar memenuhi seluruh kotak */
  background-repeat: no-repeat; /* menghilangkan repeat pada background growth */
  width: 200px; /* mengatur lebar background growth */
  height: 200px; /* mengatur tinggi background growth */
  background-color: #fff; /* mengatur warna background growth */
  margin-top: 30px; /* mengatur jarak atas background growth */
  border-radius: 20px; /* mengatur sudut background growth */
}
.growth-pertama {
  color: #fff; /* mengatur warna tulisan Membantu bisnis */
  font-weight: 700; /* mengatur tebal tulisan Membantu bisnis */
  font-size: 18px; /* mengatur ukuran tulisan Membantu bisnis */
}
.growth p {
  color: #fff; /* mengatur warna tulisan Membantu bisnis */
}
.growth p:hover {
  padding: 1rem; /* mengatur jarak blur Membantu bisnis */
  border-radius: 1rem; /* mengatur sudut pada tulisan Membantu bisnis */
  transition: 0.5s; /* mengatur durasi transisi pada tulisan Membantu bisnis */
  backdrop-filter: blur(
    2rem
  ); /* menambahkan efek blur pada tulisan Membantu bisnis */
  box-shadow: 0 0 1rem 0 #111; /* menambahkan bayangan pada tulisan Membantu bisnis */
}
.revenue {
  font-size: 14px; /* ukuran tulisan revenue */
  background-image: url("../img/revenue.jpg"); /* gambar background revenue */
  background-size: cover; /* mengatur ukuran background revenue agar memenuhi seluruh kotak */
  background-repeat: no-repeat; /* menghilangkan repeat pada background revenue */
  width: 200px; /* mengatur lebar background revenue */
  height: 200px; /* mengatur tinggi background revenue */
  background-color: #fff; /* mengatur warna background revenue */
  margin-top: -201px; /* mengatur jarak bawah background revenue */
  margin-left: 220px; /* mengatur jarak kiri background revenue */
  border-radius: 20px; /* mengatur sudut background revenue */
}
.revenue-pertama {
  color: #fff; /* mengatur warna tulisan revenue */
  font-weight: 700; /* mengatur tebal tulisan revenue */
  font-size: 18px; /* mengatur ukuran tulisan revenue */
}
.revenue p {
  color: #fff; /* mengatur warna tulisan memaksimalkan */
}
.revenue p:hover {
  padding: 1rem; /* mengatur jarak blur memaksimalkan */
  border-radius: 1rem; /* mengatur sudut pada tulisan memaksimalkan */
  transition: 0.5s; /* mengatur durasi transisi pada tulisan memaksimalkan */
  backdrop-filter: blur(
    2rem
  ); /* menambahkan efek blur pada tulisan memaksimalkan */
  box-shadow: 0 0 1rem 0 #111; /* menambahkan bayangan pada tulisan memaksimalkan */
}
/* jumbotron end */

/* courses */
.text-truncate-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Jumlah baris yang ditampilkan sebelum terpotong */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-body {
  background-color: #f4f4f4;
}

.card-body .card-title {
  font-weight: 700;
  font-size: 20px;
  color: #ff8143;
}
.card-body .card-subtitle {
  font-weight: 100;
  font-size: 15px;
  color: #5c5c5c;
}

.card-body span i {
  color: #db1032;
}

.card-footer {
  background-color: #f4f4f4;
}

@media (min-width: 992px) {
  .courses-container {
    margin-top: -350px; /* agar courses nya tidak terlalu jauh */
  }
}
/* courses */

/* about */
.custom-line {
  width: 50%;
  height: 4px;
  background-color: #000;
  margin: 10px auto;
}
.custom-border {
  border: 3px solid #000;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
/* about end */

/* testimonials */
.testimonials-section h2 {
  font-size: 32px; /* Ukuran font untuk judul */
}

.underline {
  width: 200px; /* Lebar garis bawah judul */
  height: 4px; /* Tinggi garis bawah judul */
  background-color: #800; /* Warna garis bawah */
  margin: 0 auto 30px; /* Margin atas dan bawah untuk posisi garis */
}

.testimonials {
  margin-top: 90px; /* Margin atas untuk ruang antara testimoni */
}

.testimonial-box {
  background-color: white; /* Warna latar belakang untuk kotak testimoni */
  padding: 20px; /* Padding dalam kotak testimoni */
  border-radius: 30px; /* Membuat sudut kotak bulat */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Menambahkan bayangan pada kotak */
  position: relative; /* Menetapkan posisi relatif untuk kotak */
  border-top: 2px solid #800; /* Border atas kotak */
  border-left: 2px solid #800; /* Border kiri kotak */
  border-right: 10px solid #800; /* Border kanan kotak */
  border-bottom: 10px solid #800; /* Border bawah kotak */
  margin-bottom: 40px; /* Jarak bawah kotak testimoni */
  padding-top: 60px; /* Padding atas untuk mengangkat gambar */
}

.testimonial-img {
  border-radius: 50%; /* Membuat gambar menjadi bulat */
  width: 100px; /* Lebar gambar */
  height: 100px; /* Tinggi gambar */
  position: absolute; /* Membuat gambar menjadi absolut dalam kotak */
  top: -50px; /* Mengangkat gambar ke atas */
  left: 20px; /* Jarak gambar dari sisi kiri */
  border: 3px solid white; /* Border untuk gambar */
}

.testimonial-content {
  text-align: justify; /* Mengatur teks agar rata kiri dan kanan */
}

.testimonial-content p {
  font-size: 16px; /* Ukuran font untuk isi testimoni */
  margin-bottom: 10px; /* Jarak bawah untuk paragraf testimoni */
}

.author {
  color: #333333; /* Warna teks untuk nama pengarang */
}
/* testimonials */

/* contact */
.map-caption {
  margin-top: 15px;
  font-size: 16px;
  color: #212529;
}

.whatsapp-button {
  display: flex;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.whatsapp-button img {
  width: 90px;
  height: 45px;
}
/* contact */
